/* MONTH OF JULY COLORS*/

/* general css*/
h1, h2, h3, p, span {
    color: #824831;
}

a {
    color: #7d51bb;
}

a:hover {
    color: #C74a4a;
    border-color: #C74a4a;
}

label, .label {
    color: #C74a4a;
}

label.error {
    color: #7d51bb;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
    border-color: #C74a4a;
}

button[type="submit"] {
    border-color: #C74a4a;
    background-color: #C74a4a;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #fff;
    border-color: #C74a4a;
    color: #C74a4a;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #824831;
}

:-moz-placeholder { /* Firefox 4 to 18 */
    color: #824831;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #824831;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #824831;
}

/* header and navigation buttons */
#header {
    background: #7d51bb;
    border-color: #C74a4a;
}

button {
    border-color: #7d51bb;
    background-color: #7d51bb;
}

button:hover {
    color: #fff;
    background-color: #C74a4a;
    border-color: #C74a4a;
}

/* main content div*/
div.content {
    border-color: #C74a4a;
}

.content:after {
    border-bottom-color: #C74a4a;
}

/* index (search) page */
input[id="search_terms"] {
    border-color: #C74a4a;
}

input:focus {
    background-color: #feeae6;
}

/* dashboard page */
.courses:nth-child(2n+1) {
    background-color: #fff;
}

.courses:hover {
    background-color: #feeae6;
}
input[type="date"],
input[type="time"],
input[type="textarea"] {
    border-color: #824831;
}

select {
    border-color: #824831;
}