/* MONTH OF JUNE COLORS*/

/* general css*/
h1, h2 {
    color: #A76C45;
}

a {
    color: #45ABB5;
}

a:hover {
    color: #E6A641;
    border-color: #E6A641;
}

label, .label {
    color: #E6A641;
}

label.error {
    color: #45ABB5;
}


input[type="text"],
input[type="password"],
input[type="tel"] {
    border-color: #E6A641;
}

button[type="submit"] {
    border-color: #E6A641;
    background-color: #E6A641;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #fff;
    border-color: #E6A641;
    color: #E6A641;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #A76C45;
}

:-moz-placeholder { /* Firefox 4 to 18 */
    color: #A76C45;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #A76C45;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #A76C45;
}

/* header and navigation buttons */
#header {
    background: #45ABB5;
    border-color: #E6A641;
}

button {
    border-color: #45ABB5;
    background-color: #45ABB5;
}

button:hover {
    color: #fff;
    background-color: #E6A641;
    border-color: #E6A641;
}

/* main content div*/
div.content {
    border-color: #E6A641;
}

.content:after {
    border-bottom-color: #E6A641;
}

/* index (search) page */
input[id="search_terms"] {
    border-color: #E6A641;
}

input:focus {
    background-color: #fff4e2;
}

/* dashboard page */
.courses:nth-child(2n+1) {
    background-color: #f2eae3;
    border-color: #A76C45;
}

.courses:first-child,
.courses:last-child {
    border-color: #A76C45;
}

.courses:hover {
    background-color: #fff4e2;
}