/* MONTH OF MAY COLORS*/

/* general css*/
h1, h2 {
    color: #B09274;
}

a {
    color: #80C199;
    text-decoration: none;
}

a:hover {
    color: #80C199;
    border-bottom: 1px solid #80C199;
}

label, .label {
    color: #E98D8D;
}

label.error {
    color: #80C199;
}


input[type="text"],
input[type="password"],
input[type="tel"] {
    border-color: #E98D8D;
}

button[type="submit"] {
    border-color: #E98D8D;
    background-color: #E98D8D;
    color: #fff;
}

button[type="submit"]:hover {
    background-color: #fff;
    border-color: #E98D8D;
    color: #E98D8D;
}

input::-webkit-input-placeholder { /* WebKit browsers */
    color: #B09274;
}

:-moz-placeholder { /* Firefox 4 to 18 */
    color: #B09274;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #B09274;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #B09274;
}

/* header and navigation buttons */
#header {
    background: #80C199;
    border-bottom: 10px solid #E98D8D;
}

button {
    border: 2px solid #80C199;
    background-color: #80C199;
}

button:hover {
    color: #fff;
    background-color: #E98D8D;
    border-color: #E98D8D;
}

/* main content div*/
div.content {
    border-top: 1px solid #E98D8D;
}

.content:after {
    border-bottom-color: #E98D8D;
}

/* index (search) page */
input[id="search_terms"] {
    border-color: #E98D8D;
}

input:focus {
    background-color: #f5efef;
}

/* dashboard page */
.courses:nth-child(2n+1) {
    background-color: #f2eae3;
    border-color: #B09274;
}

.courses:first-child {
    border-color: #B09274;

}
.courses:last-child {
    border-color: #B09274;
}

.courses:hover {
    background-color: #f5efef;
}