/* header and navigation buttons */
nav {
    height: 50px;
}

#logo {
    font-family: Acme;
    font-size: 200%;
    color: #bbb;
    float: left;
}

button {
    float: right;
    font-family: Gudea, Helvetica, Arial;
    font-size: 100%;
    font-weight: 100;
    border: 1px solid #bbb;
    border-radius: 15px;
    width: auto;
    padding: 5px 10px 5px 10px;
    color: #bbb;
    background-color: #eee;
}

button:hover {
    background-color: #fff;
    border-color: #bbb;
}

/* general css*/
body {
    background: #eee;
    font-family: Gudea, Helvetica, Arial;
    color: #bbb;
}

h1 {
    color: #bbb;
}

label, .label {
    float: left;
    font-family: Gudea, Helvetica, Arial;
    font-size: 100%;
    font-weight: 400;
    color: #bbb;
    padding: 10px;
}

input[type="text"],
input[type="password"] {
    float: right;
    font-size: 100%;
    font-weight: 100;
    border: 1px solid #bbb;
    border-radius: 15px;
    width: 300px;
    padding: 5px;
    background-color: #fff;
    margin: 5px 0;
    
}

button[type="submit"] {
    float: right;
    font-family: Gudea, Helvetica, Arial;
    font-size: 100%;
    font-weight: 100;
    border: 1px solid #bbb;
    border-radius: 15px;
    width: 313px;
    padding: 5px;
    color: #bbb;
    background-color: #eee;
    margin: 5px 0;
}

button[type="submit"]:hover {
    background-color: #fff;
    border-color: #bbb;
}

input::-webkit-input-placeholder {
    font-weight: light !important;
    color: #8CBBE5;
}

div.center {
    /*border: 1px solid #bbb;*/
    width: 500px;
    padding: 10px;
    margin: 10% auto;
    overflow: auto;
    text-align: center;
}

div.line {
    overflow: auto;
    width: 450px;
    margin: 5px auto;
}

/* index page */
input[id="search_terms"] {
    font-size: 100%;
    font-weight: 100;
    border: 1px solid #bbb;
    border-radius: 15px;
    width: 485px !important;
    padding: 5px;
    background-color: #fff;
    float: none !important;
}

/* login and sign up tab */
.tabarea {
    border-radius: 15px;
    width: 459px;
    autoflow: auto;
    height: auto;
    border: 1px solid #bbb;
    margin: 0 auto;
    padding: 20px;
}

ul#tabnav { /* general settings */
    text-align: right;
    margin: 5px 5px 0 0;
    list-style-type: none;
    padding: 3px 5px;
}

ul#tabnav li {
    display: inline;
}

body#tab1 li.tab1 a, body#tab2 li.tab2 a { /* settings for selected tab link */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #eee;
    color: #bbb;
    position: relative;
    top: 1px;
    padding: 5px 10px 3px 10px;
    border-bottom: none;
}

ul#tabnav li a { /* settings for all tab links */
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 4px 10px 3px 10px;
    border: 1px solid #bbb;
    background-color: #ddd; /* set unselected tab background color as desired */
    color: #bbb;
    margin-right: 0;
    text-decoration: none;
    border-bottom: none;
}

ul#tabnav a:hover { /* settings for hover effect */
    background: #fff; /* set desired hover color */
}
