body {
    background: #eee;
    font-family: Gudea, Helvetica, Arial;
    color: #bbb;
}

nav {
    height: 50px;
}

#logo {
    font-family: Acme;
    font-size: 200%;
    color: #bbb;
    float: left;
}

button {
    float: right;
    font-family: Gudea, Helvetica, Arial;
    font-size: 100%;
    font-weight: 100;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: auto;
    padding: 5px;
    color: #ccc;
    background-color: #eee;
}

button:hover {
    background-color: #ddd;
    border-color: #bbb;
    color: #bbb;
}

input[id="search_terms"] {
    font-size: 100%;
    font-weight: 100;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 485px !important;
    padding: 5px;
    background-color: #fff;
    float: none !important;
}

label, .label {
    float: left;
    font-family: Gudea, Helvetica, Arial;
    font-size: 100%;
    font-weight: 400;
    color: #bbb;
    padding: 8px;
}

h1 {
    color: #bbb;
}

div.center {
    width: 510px;
    margin: 10% auto;
    overflow: auto;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    float: right;
    font-size: 100%;
    font-weight: 100;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 300px;
    padding: 5px;
    background-color: #fff;
    margin: 5px 0;
}

::-webkit-input-placeholder {
    font-weight: light !important;
    color: #8CBBE5;
}

button[type="submit"] {
    float: right;
    font-family: Gudea, Helvetica, Arial;
    font-size: 100%;
    font-weight: 100;
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 313px;
    padding: 5px;
    color: #ccc;
    background-color: #eee;
    margin: 5px 0;
}

button[type="submit"]:hover {
    background-color: #ddd;
    border-color: #bbb;
    color: #bbb;
}

div.line {
    overflow: auto;
    width: 500px;
    margin: 5px auto;
}