/* general css*/
body {
    background-image:url('../img/bg.jpg');
    margin: auto;
    font-family: Gudea, Helvetica, Arial;
    color: #bbb;
}

h1, h2 {
    color: #8CBBE5;
}

a {
    color: #8CBBE5;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #8CBBE5;
    }

label, .label {
    float: left;
    font-family: Gudea, Helvetica, Arial;
    font-size: 100%;
    font-weight: 400;
    color: #8CBBE5;
    padding: 10px;
}

label#forgot, label#new {
    float: right;
}

label.error {
    font-size: 80%;
    clear: both;
    float: right;
    padding: 0;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
    float: right;
    font-size: 100%;
    font-weight: 100;
    border: 2px solid #8CBBE5;
    border-radius: 15px;
    width: 290px;
    padding: 5px 5px 5px 15px;
    background-color: #fff;
    margin: 5px 0;
}

button[type="submit"] {
    float: right;
    font-family: Gudea, Helvetica, Arial;
    font-size: 100%;
    font-weight: 100;
    border: 2px solid #8CBBE5;
    border-radius: 15px;
    width: 313px;
    padding: 4px 5px;
    color: #fff;
    background-color: #8CBBE5;
    margin: 5px 0;
}

button[type="submit"]:hover {
    background-color: #fff;
    border-color: #8CBBE5;
    color: #8CBBE5;
}

input::-webkit-input-placeholder { /* ebKit browsers */
    padding: 0px;
    font-size: 90%;
    font-weight: light !important;
    color: #8CBBE5;
}

:-moz-placeholder { /* Firefox 4 to 18 */
    padding: 0px;
    font-size: 90%;
    font-weight: light !important;
    color: #8CBBE5;
}

::-moz-placeholder { /* Firefox 19+ */
    padding: 0px;
    font-size: 90%;
    font-weight: light !important;
    color: #8CBBE5;
}

:-ms-input-placeholder { /* IE 10+ */
    padding: 0px;
    font-size: 90%;
    font-weight: light !important;
    color: #8CBBE5;
}

div.center {
    /*border: 1px solid #bbb;*/
    width: 500px;
    padding: 10px;
    margin: 50px auto;
    overflow: auto;
    text-align: center;
}

div.line {
    overflow: auto;
    width: 450px;
    margin: 5px auto;
}


/* header and navigation buttons */
#header {
    margin: 0px;
    background: #ccc;
    height: auto;
    min-width: 1050px;
    overflow: auto;
    padding: 20px 10px;
    border-bottom: 10px solid #8CBBE5;
}

nav {
    height: 30px;
    width: auto;
    overflow: hidden;
    padding: 0px;
}

#logo {
    background-image:url('../img/logo.png');
    width: 200px;
    height: 30px;
    float: left;
}

button {
    float: right;
    font-family: Gudea, Helvetica, Arial;
    font-size: 100%;
    font-weight: 400;
    border: 2px solid #ccc;
    border-radius: 15px;
    width: auto;
    padding: 3px 10px;
    color: #fff;
    background-color: #ccc;
    margin-right: 5px;
}

button:hover {
    color: #fff;
    background-color: #8CBBE5;
    border-color: #8CBBE5;
}

/* main content div*/
div.content {
    margin: 15px 0px;
    width: auto;
    margin: 0px auto;
    position: relative;
    background: #eee;
    background-image:url('../img/bg.jpg');
    padding: 10px;
    border-top: 1px solid #8CBBE5;
}

.content:after {
    bottom: 100%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #8CBBE5;
    border-width: 26px;
    margin-left: -26px;
}

body#search_in .content:after { /* search_in content arrow */
    right: 330px;
}

body#dash .content:after { /* dashboard content arrow */
    right: 246px;
}

body#settings .content:after { /* settings content arrow */
    right: 158px;
}

body#help .content:after { /* help content arrow */
    right: 86px;
}

body#search_out .content:after { /* search_out content arrow */
    right: 84px;
}

body#log .content:after { /* login/signup content arrow */
    right: 16px;
}

/* index (search) page */
input[id="search_terms"] {
    font-size: 100%;
    font-weight: 100;
    border: 2px solid #8CBBE5;
    border-radius: 15px;
    width: 485px !important;
    padding: 5px 5px 5px 15px;
    background-color: #fff;
    float: none !important;
    margin: 30% auto;
}

input:focus {
outline: none;
background-color: #eee;
}


/* dashboard page */
.courses {
    width: auto;
    height: 60px;
    padding: 10px;
}

.courses:nth-child(2n+1) {
    background-color: #fff;
    border-top: 1px solid #ddd;
}

.courses:first-child {
    border-bottom: 1px solid #ddd;

}
.courses:last-child {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.courses:hover {
    background-color: #EEF3F7;
}

.id {
    padding: 5px 10px;
    display: inline;
    float: left;
    height: auto;
}

.edit {
    padding: 5px 10px;
    display: inline;
    float: right;
    height: auto;
}